/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

/* Nav */

.navbar {
    width: 100%;
    height: 50px;
    padding: unset;
    margin: unset;
}

.navbar .container-btn-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .container-btn-menu .btn-menu {
   border-radius: 50%;
   border: 3px solid black;
   padding: 5px;
   color: black;
   margin-right: 50px;
   margin-top: 50px;
}

.navbar .container-btn-menu .btn-menu:hover {
    border: 3px solid rgb(49, 49, 49);
    color: rgb(49, 49, 49);
    cursor: pointer;
}

